<div class="card text-center">
    <div class="card-header">
        Sistema implementado en 
    </div>
    <div class="card-body">
        <h5 class="card-title">FrontEnd</h5>
        <p class="card-text">Angular 8 y Bootstrap.</p>
        <h5 class="card-title">Backend</h5>
        <p class="card-text">Web Api c#.</p>
        <h5 class="card-title">Base de datos</h5>
        <p class="card-text">SQL Server 2017 Express.</p>
        <h5 class="card-title">Servicios restfull</h5>
        <p class="card-text">Publicados en IIS 8.</p>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>