<table class="table">
        <thead>
            <tr>
                <th>Listado de Facturas</th>
                <th></th>
                <th></th>
                <th>
                    <button class="btn btn-success" (click)="crear()">
                        +
                        <span>Agregar</span>
                    </button>
                </th>
            </tr>
        </thead>
</table>
<table  *ngIf="data.length > 0" class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Numero de factura</th>
      <th scope="col">NIT</th>
      <th scope="col">Nombre cliente</th>
      <th scope="col">Fecha</th>
      <th scope="col">Total factura</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let factura of data">
      <td scope="row">{{factura.id}}</td>
      <td scope="col">{{factura.numero_factura}}</td>
      <td scope="col">{{factura.cliente.nit}} </td>
      <td scope="col">{{factura.cliente.primer_nombre}} </td>
      <td scope="col">{{factura.fecha_factura }}</td>
      <td scope="col">{{factura.total_factura | currency}}  </td>
      <td scope="col">
        <button (click)="gotoDetails(factura.id)" ngbTooltip="Editar factura">
          <fa-icon [icon]="faEdit"></fa-icon>
        </button>
        <button>
            <fa-icon [icon]="faTrash"></fa-icon>        
          </button>
        </td>
    </tr>
  </tbody>
</table>


