
<div class="container">
        <form>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Numero de factura</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="staticEmail" placeholder="Numero de factura" >
                </div>
            </div>
            <!-- <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Cliente</label>
                <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Cliente">
                </div>
            </div> -->
            <div class="form-group row">
              <label for="cliente" class="col-sm-2 col-form-label">Cliente</label>
              <div class="col-sm-10">
                <select id="cliente" class="form-control" >
                  <option selected>Seleccionar...</option>
                  <option value="{{cliente.id}}" *ngFor="let cliente of clientes">{{cliente.primer_nombre}}</option>
                </select>                
              </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Fecha</label>
                <div class="col-sm-10">
                    <input type="text" ngbDatepicker #d="ngbDatepicker"/>
                    <button (click)="d.toggle()">Toggle</button>
                </div>    
            </div>
        </form>
            
</div>

<div></div>
<table class="table">
        <thead>
            <tr>
                <th>Listado de productos</th>
                <th></th>
                <th></th>
                <th>
                    <a class="btn btn-success" (click)="open(content)">
                        +
                        <span>Agregar</span>
                    </a>
                </th>
            </tr>
        </thead>
</table>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Producto</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Precio unitario</th>
      <th scope="col">Total</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let factura of data">
      <td scope="row">{{factura.id}}</td>
      <td scope="col">{{factura.numero_factura}}</td>
      <td scope="col">{{factura.nit}} </td>
      <td scope="col">{{factura.nombre_cliente}} </td>
      <td scope="col">{{factura.fecha }}</td>
      <td scope="col">{{factura.total | currency}}  </td>
      <td scope="col">
        <button (click)="edit(factura,content)" ngbTooltip="Editar">
          <fa-icon [icon]="faEdit"></fa-icon>
        </button>
        <button>
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </td>
    </tr>
  </tbody>
</table>

<div>
    <h3>Agregar Producto</h3>
    <div [hidden]="submitted" style="width: 400px;">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="primer_nombre">Nombre</label>
            <div class="input-group">
                <input id="primer_nombre" class="form-control" type="text" name="nombre" [(ngModel)]="producto.nombre">
            </div>
            </div>
    
            <div class="form-group">
                <label for="segundo_nombre">Inventario</label>
                <div class="input-group">
                <input id="segundo_nombre" class="form-control" type="text" name="cantidad" [(ngModel)]="producto.cantidad">
                </div>
            </div>
        
            <div class="form-group">
                <label for="primer_apellido">Precio</label>
                <div class="input-group">
                <input id="primer_apellido" class="form-control" type="text" name="precio" [(ngModel)]="producto.precio">
                </div>
        </div>
    
        <button type="submit" class="btn btn-success">Guardar</button>
        <button type="button" (click)="gotoList()" class="btn btn-danger">Cancelar</button>
      </form>
    </div>
    
    <div [hidden]="!submitted">
      <h4>You submitted successfully!</h4>
      <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
    </div>  
</div>